.ads__block {
    margin-top: 50px;
    padding-bottom: 50px;
}

.cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 90px; /* Отступ между колонками */
    row-gap: 50px; /* Отступ между рядами */
    margin: 0 auto;
  }
  .card {
    width: 225px;
    min-height: 250px;
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    background-color: white;
  }

  .card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  
  .card__top {
    flex: 0 0 190px; /* Задаем высоту 200px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */
  
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
  }
  
  .card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 20%; /* Размещаем цены равномерно в две колонки */
  }
  
  .card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  
  .card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  
  

  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
  }
  
  .card__title:hover {
    color: #ff6633;
  }

  .user_link a{
    text-decoration: none;
  }


  .card__description{
    display: block;
    margin-bottom: 10px;
  }

  .card__category{
    display: block;
    margin-bottom: 10px;
  }

  .card__requests{
    background: #08E839;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 10px 10px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .delete__card{
    background: #8b0d04;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }

  .recall{
    background: #8b0d04;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 10px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
  }

.card__buttons{
  padding: 5px;
  padding-left: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.call{
  background: #08E839;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}