.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
}
.modal-body{
    padding: 2rem;
    width: 640px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.38);
    height: 290px;
}


.modal-body h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    margin-top:0;
}
.regist_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
   
}
.login_form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.inputs{
    background: #FFFFFF;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.68);
    text-align: center;
    width: 244px;
}
.submit_btn{
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    padding: 10px 51px;
    background: #4A82EA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

.submit_btn_choosing{
    padding: 10px 20px;
}

._regist{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.choosing_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.choosing_inputs label {
    margin-bottom: 10px;
}


.modal-pass{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: black;
    opacity: 0.9;

}

.modal-body-pass {
    padding: 2rem;
    width: 400px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 1);
    height: 290px;
    z-index: 3;
}

.modal-body-pass h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    margin-top:0;
}

.inputs_change_pass{
    background: #d9d5d5;
}

.change_block{
    padding: 0rem 3rem;
}

.change_btn{
    margin-left: 45px;
}

.close_modal{
    cursor: pointer;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}


.modal-req {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: black;
    opacity: 0.9;

}

.modal-body-req {
    padding: 2rem;
    width: 400px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 1);
    height: 290px;
    z-index: 3;
}

.modal-body-req-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    margin:0 !important;
}

.req_list{

}

.executor_name_link{
    all: unset;
    cursor: pointer;
}