
  
  .avatar__main {
    width: 100%;
  }
  
  .avatar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  
  
  .avatar__main .avatar-container li {
    list-style: none;
  }
  
  .avatar__main .avatar-container a {
    padding: 0.7rem;
  }
  
  
  
  .avatar-container {
    display: block;
    position: relative;
  }
  
  .avatar-container .checkbox {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    top: -35px;
    right: 158px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  

  
  
  
  
  
 
  
  .avatar-container input[type="checkbox"]:checked ~ .avatar__menu_items {
    transform: translateX(0);
  }
  
  





.avatar__main .avatar__menu_items {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  transform: translate(200%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
  
.avatar__main .avatar__menu_items li {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
  
.avatar__main .avatar__menu_items {
  display: flex;
  align-items: flex-end;
  position: fixed;
  right:160px;
  margin-top: 40px
}
    
 

.avatar {
    background: url('../assets/user\ 64.png');
    display: block;
    height: 64px;
    width: 64px;
    position: absolute;
    top: -40px;
    right: 150px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
