
.account_block {
    margin:0;
    padding:0;
    display: flex;
    height: 170px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.account__block {
    padding: 0rem 1.5rem; 
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    font-weight: 600;
}
.account__block a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    font-weight: 600;
    text-decoration: underline;
}

.account__block a span {
    margin-right: 230px;
    
}

.town {
    width: 180px;
    text-align: right;
    line-height: 1.5;
}

.account_email{
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.5;
}

.special{
    line-height: 1.5;
    font-weight: 700;
}

.special span{
    color: #FFFFFF;
}

.prog_langs{
    line-height: 1.5;
    font-weight: 700;
}

.prog_langs span{
    color: #FFFFFF;
}

.about_user{
    list-style: none;
    text-align: left;
    padding: 0;
}

.account_avatar{
    list-style: none;
    margin: 0;
}


.arrow_block {
    padding: 3rem 1.5rem 0;
    margin-left: 80px;
}

.acc_button{
    margin-top: 5px;
}

.call_button{
    background: #08E839;
    border-radius: 6px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 15px 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.text_button{
    background: #2825CA;
    border-radius: 6px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px 10px;
    outline: none;
    border: none;
    cursor: pointer;
}