
.account_block {
    margin:0;
    padding:0;
    display: flex;
    height: 170px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.account__block {
    padding: 0rem 1.5rem; 
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    font-weight: 600;
}
.account__block a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    font-weight: 600;
    text-decoration: underline;
}

.account__block a span {
    margin-right: 230px;
    
}

.town {
    width: 180px;
    text-align: right;
    line-height: 1.5;
}



.about_user{
    list-style: none;
    text-align: left;
    padding: 0;
}

.account_avatar{
    list-style: none;
    margin: 0;
}


.arrow_block {
    padding: 3rem 1.5rem 0;
    margin-left: 80px;
}


.about_user li{
    line-height: 1.5;
    font-weight: 700;
}

.about_user li span{
    color: #FFFFFF;
}


.account_email{
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.5;
}



.input-file {
	position: relative;
	display: inline-block;
    margin-top: 10px;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 

.input-file-list {
	padding: 10px 0;
    font-size: 16px !important;
    visibility: hidden;
    text-decoration: none !important;
}



.delete__resume{
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
    margin-top: 10px;
	transition: background-color 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.resume__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}